body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    
    display: block;
    width: 100%;
    height: 100%;
}
.div1 {
  
    background-color: grey;
    height: 15%;
    width: 100%;
    float: left;
   font-size: 50%;
  }

  .div2 {
    background-color: gray;
    height: 15%;
    width: 100%;
    float: left;
     position: absolute;
     bottom: 0 ; 
     font-size: 50%;
                  
 }

 .div3 {
    text-align: center;
 }

 .Willkommenstext{
    font-size: 50%;
    font-style: oblique;
 }

 .Berufe {
    color:darkgrey;
 }

 .Berufe:hover{
    opacity: 0.5;
    color: wheat;
 }

 .Aprentas {
    color: darkgray;
 }

 .Aprentas:hover {
    opacity: 0.5;
    color: wheat;
 }

 .a {
    text-decoration: none;
 }